<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>

      <li routerLinkActive="active">
        <a routerLink="/home" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">{{'Home' | i18n}}</span>
        </a>
      </li>
   

      <li *ngIf="auth.isAuthenticated()">
        <a href="">
          <i class="fa fa-lg fa-fw fa-table"></i>
          <span class="menu-item-parent">{{'Data' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/data/buses">{{'Buses' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/data/externalgrids">{{'External Grids' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/data/overheadlines">{{'Power Lines' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/data/twophasetransformers">{{'Two-Winding Transformers' | i18n}}</a>
          </li>

        </ul>
      </li>

      <li *ngIf="auth.isAuthenticated()">
        <a href="">
          <i class="fa fa-lg fa-fw fa-calculator"></i>
          <span class="menu-item-parent">{{'Calculation' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/calculation/loadflow">{{'Load Flow' | i18n}}</a>
          </li>
        </ul>
      </li>
      

      <li routerLinkActive="active">
        <a target="_blank" href="https://electrisim.com/page-knowledgebase.html" title="Documentation">
          <i class="fa fa-lg fa-fw fa-book"></i>
             <span class="menu-item-parent">{{'Documentation' | i18n}}</span>
        </a>
      </li>

      


    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>